* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2f3030;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: #222222;
    margin-top: 2em;
    height: 55em;
    width: 60em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tools {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 11em;
}

.tools__right {
    display: flex;
    justify-content: space-between;
    width: 13em;
    padding-right: 2em;
}

.tools__left__text {
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding-left: 2em;
}

.tools__right__text {
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.dot {
    margin-top: -0.25em;
    margin-left: -0.8em;
    margin-right: -0.8em;
}

.symbol {
    border-left: 0.05em #707070 solid;
    padding: 0.07em;
    border-bottom: 0.05em #707070 solid;
    width: 0.1em;
    height: 0.1em;
    transform: rotateZ(-45deg);
    margin-left: -1.2em;
    margin-top: 0.2em;
}


.slider {
    width: 50em;
    height: 36em;
    overflow: hidden;
    background-color: #fff;
    margin-top: 6em;
}

.slides {
    display: flex;
    width: 400%;
    height: auto;
}

.slide {
    width: 25%;
    transition: all .6s ease;
    display: flex;
    flex-direction: column;
}

.mem__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    align-items: center;
    background-color: #fff;
    display: inline-block;
    height: 2.3em;
}


.navigation {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.nav {
    display: flex;
}

.bar {
    height: 0.8em;
    width: 2em;
    margin: 1em;
    cursor: pointer;
    background-color: black;
    opacity: .1;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: .8;
    transform: scale(1.1);
}

input[name='button'] {
    visibility: hidden;
    margin-left: -0.97em;
}

#button1:checked ~ .slide1 {
    margin-left: 0%;
}

#button2:checked ~ .slide1 {
    margin-left: -25%;
}

#button3:checked ~ .slide1 {
    margin-left: -50%;
}

#button4:checked ~ .slide1 {
    margin-left: -75%;
}